{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Mount Point</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for disk in disks %}
            {% if disk.mount_point %}
                <tr class="table-success">
            {% else %}
                <tr class="table-light">
            {% endif %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ disk.name }}</td>
                    <td>{{ disk.size }}</td>
                    <td>{{ disk.mount_point }}</td>
                    <td>
                        {% if disk.mount_point %}
                        <form action="{% url 'umount' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ disk.name }}">
                            <button type="submit">Umount</button>
                        </form>
                        {% else %}
                        <form action="{% url 'format' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ disk.name }}">
                            <button type="submit" value="{{ disk.name }}">Format</button>
                        </form>
                        <form action="{% url 'mount' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ disk.name }}">
                            <button type="submit">Mount</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}