{% extends 'base.html' %}

{% block content %}
<figure class="text-end">
    <blockquote class="blockquote">
        <p>Твои ошибки - твоя сила. На кривых корнях деревья стоят крепче.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Джейсон Стетхем<cite title="Source Title">Разработчик 2</cite>
    </figcaption>
</figure>

<h3>
    Ошибка форматирования. Скорее всего Вы пытаетесь отформатировать рабочий диск.
    <small class="text-muted">
        <a href="/disks/">Перейти на главную страницу.</a>
    </small>
</h3>

{% endblock %}