{% extends 'base.html' %}

{% block content %}
<figure class="text-end">
    <blockquote class="blockquote">
        <p>Чтобы избегать ошибок, надо набираться опыта, чтобы набираться опыта, надо делать ошибки</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Джейсон Стетхем <cite title="Source Title">Тестеровщик</cite>
    </figcaption>
</figure>

<h3>
    Ошибка монтирования. Скорее всего Вы пытаетесь примонтировать рабочий диск или на устройстве неудовлетворительная
    файловая система. Вернитесь на главную и попробуйте отформатировать устройство.
    <small class="text-muted">
        <a href="/disks/">Перейти на главную страницу.</a>
    </small>
</h3>

{% endblock %}